body {
  width: 100%;
  background-color: #f5f5f5;
  font-family: "Manrope", serif;
  letter-spacing: -0.03em;
}

main {
  background-color: white;
}

.hero {
  max-width: 1150px;
  margin: 0 auto;
}

h1 {
  width: 956px;
  height: 120px;
  font-weight: 400;
  font-size: 58px;
  line-height: 60px;
}

h2 {
  margin-top: 150px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  margin-top: 15px;
  width: 515px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.hero__interior {
  margin-top: 30px;
  background-image: url(/img/armchair.png);
  width: 1150px;
  height: 500px;
}

.hero__text {
  padding-top: 379px;
  padding-left: 40px;
  width: 430px;

  line-height: 27px;
  font-weight: 400;
  font-size: 20px;

  color: #fff;
}

.about {
  max-width: 1150px;
  margin: 0 auto;

}

.about__text {
  margin-top: 30px;
  width: 1048px;
  height: 366px;
  font-weight: 400;
  font-size: 43px;
  line-height: 61px;
}

.about__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  background-color: #AD1818;
  color: white;
  text-decoration: none;
}

.projects {
  max-width: 1150px;
  margin: 0 auto;
}

.projects__list:first-child {
  margin-top: 30px;
}

.projects__list {
  margin-top: 90px;
}

.projects__more {
  display: block;
  margin-top: 15px;
  width: 127px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #AD1818;
}

.projects__fullscreen-btn {
  display: block;

  margin-top: 90px;
  padding: 56px;

  border: 1px solid #AD1818;
  border-radius: 5px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #AD1818;
  text-decoration: none;
  background-color: white;
}

.projects__fullscreen-btn:hover {

  color: white;
  background-color: #AD1818;
}